body {
	padding-top: 185px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
	margin-bottom: 30px;
}

footer {
	margin: 50px 0;
}

#headerImg {
	position: relative;
	left: 50%;
	margin-left: -375px !important;  /* 50% of your logo width */
	display: block;
}
